*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#root{
   width: 100%;
   height: 100%;

   display: flex;
   
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 10vw;
}
#root > h1{
   font-size: 2.5em;
   font-weight: bold;
   color: rgb(209, 32, 32);
   padding-bottom: 5%;
}

#root > form{
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0%;
}
#root > form > input{
   width: 50%;
   height: 80%;
   padding: 0%;
}
#root > form > input:nth-last-child(1){
   width: 30%;
   
   padding: 0%;
}

#root > form > #btn-send{
   background-color: aquamarine;
   border-radius: 23px;
   color: black;
   font-size: .91rem;
   font-weight: bold;
   padding-left: 1%;
   padding-right: 1%;
   outline-style: inset;
   border-color: beige;
   outline-color: aqua;
   outline-width: 2px;
}
.content, #content{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.links{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.links:nth-child(2n){
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-left: 4%;
}
.saida-dados:nth-child(2n+1){
   width: 50vw;
   background-color: rgb(21, 177, 216);
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   padding: 1%;
   border-radius: 23px;
   margin-top: 1%;
}

.saida-dados:nth-child(2n){
   width: 50vw;

   background-color: rgb(209, 32, 32);
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   padding: 1%;
   border-radius: 23px;
   margin-top: 1%;
}

#content-index{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#links-uteis-index {
   display: flex;
   flex-direction: row;
}
#links-uteis-index:nth-child(1) {
   padding-left: 10%;
}


#content-index{
   display: flex;
   flex-direction: column;
   width: 100vw;

}
header{
   display: flex;
   flex-direction: row;s
   width: 100vw;
}
#logo-card{
   /* padding-left: 50%;
   padding-right: 50%; */
   align-items: center;
   width: 100%;
   background-color: #00427e;
   align-items: center;
    width: 100vw;
    justify-content: center;
    background-color: #00427e;
    padding-left: 42%;
}